<body style="background-color: #FFF; color: #000; font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFF;">
        <tr>
            <td align="center">
                <table width="600" border="0" cellspacing="0" cellpadding="0"
                    style="background-color: #FFF; margin: auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <!-- Header -->
                    <tr>
                        <td style="background-color: #4088cf; color: #FFF; padding: 15px; text-align: center;">
                            <h1 style="font-size: 23px;">
                                <strong>Musée du jeu vidéo</strong><br />
                            </h1>
                        </td>
                    </tr>
                    <!-- Donation Information Section -->
                    <tr>
                        <td style="padding: 20px;">
                            <p style="text-align: center;">Scannez ce QR CODE</p>
                            <p style="text-align: center;">
                                <img src="<%= img %>" alt="QR CODE de votre place" style="width: 200px;">
                            </p>
                            <p style="text-align: center;">si le QR CODE ne fonctionne pas, cliquez sur

                                <a href="<%= url %>" alt="lien pour acceder à) votre place"
                                    style="color: #4088cf; text-decoration:underline;">
                                    ce lien
                                </a><br />

                            </p>

                            <p style="text-align: center;">
                                <img src="<%= poster %>" alt="QR CODE de votre place">
                            </p>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                style="background-color: #FFF;">

                                <tr>
                                    <td
                                        style="text-align: center; width: 100px; height: 100px; background-color: #4088cf; color: #FFF;">
                                        I
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        F
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        X
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        B
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        Y
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        TW
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        TI
                                    </td>
                                    <td style="text-align: center; width: 100px; height: 100px;">
                                        W
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>