<body style="background-color: #FFF; color: #000; font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFF;">
        <tr>
            <td align="center">
                <table width="600" border="0" cellspacing="0" cellpadding="0"
                    style="background-color: #FFF; margin: auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <!-- Header -->
                    <tr>
                        <td style="background-color: #4088cf; color: #FFF; padding: 20px; text-align: center;">
                            <h1>MO5 | Votre place pour Game Story Versaille</h1>
                        </td>
                    </tr>
                    <!-- Donation Information Section -->
                    <tr>
                        <td style="padding: 20px;">
                            <p style="text-align: center;">Scannez ce QR CODE</p>
                            <p style="text-align: center;">
                                <img src="<%= img %>" alt="QR CODE de votre place" style="width: 200px;">
                            </p>
                            <p style="text-align: center;">ou utilisez

                                <a hrel="<%= url %>" alt="lien pour acceder à) votre place"
                                    style="color: #4088cf; text-decoration:underline;">
                                    ce lien
                                </a><br />

                            </p>

                            <p>ici les instructions, horaires...</p>
                        </td>
                    </tr>

                    <!-- Footer -->
                    <tr>
                        <td style="background-color: #5bc0de; color: #FFF; padding: 20px; text-align: center;">
                            ---
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>