<body style="background-color: #FFF; color: #000; font-family: Arial, sans-serif; margin: 1cm; padding: 0;">

    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="background-color: #4088cf; color: #FFF; padding: 15px; font-size: 23px;">
                <%= title %>
            </td>
            <td style="text-align: right; padding: 15px;">
                <div style="width: 10px; ">
                </div>
            </td>
            <td style="text-align: right;">
                <img src="<%= img %>" alt="QR CODE de votre place" style="width: 200px;" />
            </td>
        </tr>
    </table>



    <p style="text-align: center;">ou utilisez
        <a href="<%= url %>" alt="lien pour acceder à) votre place" style="color: #4088cf; text-decoration:underline;">
            ce lien
        </a>
    </p>
    <div style="text-align: center;margin-top: 20px; ">
        <img src="<%= poster %>" alt="QR CODE de votre place" style="width:450px; height: 675px;" />
    </div>

</body>